<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Leopar Games</title>
    <meta name="google-adsense-account" content="ca-pub-3806523517223728">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3806523517223728"
     crossorigin="anonymous"></script>

    <meta name="description" content="Play the best free and ad-free online games for kids! Safe, fun, and mobile-friendly browser games – no download required.">
<meta name="keywords" content="free games, kids games, browser games, no ads, mobile games, HTML5 games, online games">


    <!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FHL8LC8ZWT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-FHL8LC8ZWT');
</script>






</head>
<body style="background-color:powderblue;">

 <div class="logo-container" title="Logo">
        <a href="/">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">

        <span>Leopar Games</span>
            </a>
    </div>

<div class="games-container">
{% for directory_name in directories %}
    <div class="game-card" title="{{ directory_name }}">
        <a target="_blank" href="{{ url_for('gameweb', game_name=directory_name) }}">
            <img src="{{ url_for('static', filename=directory_name + '/' + directory_name + '.png') }}" alt="{{ directory_name }}">
        </a>
    </div>
{% endfor %}
</div>

<div class="footer">
<a href="{{ url_for('privacy') }}">Privacy Policy</a>
    <a href="{{ url_for('contact') }}">Contact</a>
    </div>


</body>
</html>