<!DOCTYPE html>
<html lang="tr">
<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3806523517223728"
     crossorigin="anonymous"></script>
  <meta charset="UTF-8" />
  <meta name="google-adsense-account" content="ca-pub-3806523517223728">
  <title>Gizlilik Politikası</title>
</head>
<title>Privacy Policy</title>
</head>
<body>
  <h1>Privacy Policy</h1>
  <p>This website does not collect any personally identifiable information from its users. We value your privacy and are committed to protecting your data.</p>
  <p>However, this site uses Google AdSense to display advertisements. Google AdSense may collect certain data such as cookies and browsing information to provide personalized ads. For more details on how Google handles data, please review their <a href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a>.</p>
  <p>By using this website, you consent to the collection and use of information by Google AdSense as described above.</p>
  <p>If you have any questions or concerns regarding this privacy policy, please contact us at [mail: ayturwe12@gmail.com].</p>
</body>

</html>